<div class="new_student">
    <div class="form-group">
        <label for="name" class="text-light">Name</label>
        <input type="hidden" name="id"  required value="">
        <input type="text" name="name" required value="" placeholder="John">
    </div>
    <div class="form-group">
        <label for="email" class="text-light">Email</label>
        <input type="email" name="email" required value="" placeholder="john@gmail.com">
    </div>
    <div class="form-group">
        <label for="usertype" class="text-light">User Type</label>
        <div class="radio inline">
            <input type="radio" name="usertype" required value="Teacher">
            <label for="usertype" class="text-light">Teacher</label>
        </div>
        <div class="radio inline">
            <input type="radio" name="usertype" required value="Student">
            <label for="usertype" class="text-light">Student</label>
        </div>
    </div>
